---
layout: default
comments: true
---

<h1>{{ page.thing }}</h1>

<h2>Overview</h2>
<ul>
  <li>Project-Page: <a href="{{ page.projectlink }}"> {{ page.projectlink }} </a></li>
  <li>Features:
  <ul>
    {% for feat in page.features %}
      <li>{{ feat }}</li>
    {% endfor %}
  </ul>
  </li>
</ul>

<h2>Description</h2>

{{ content }}

<h2>Technology</h2>
<h3>Software Modules</h3>
<ul>
  {% for sw in page.sws %}
    <li>{{ sw }}</li>
    {% assign swm = site.swmodules | where: 'swid', sw %}
    <li>{{ swm }}</li>
  {%  endfor %}
</ul>

<h3>Electronic Modules</h3>
<ul>
{% for el in page.electronics %}
  <li>{{ el }}</li>
{% endfor %}
</ul>

<h3>Electromechanical Modules</h3>
<ul>
{% for em in page.ems %}
  <li>{{ em }}</li>
{% endfor %}
</ul>

<h3>Other Hardware</h3>
<ul>
{% for hw in page.hws %}
  <li>{{ hw }}</li>
{% endfor %}
</ul>
